<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318842516311-007m2f9ss4k9car38f4q9o76b1lkiurh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318842516311-007m2f9ss4k9car38f4q9o76b1lkiurh</string>
	<key>API_KEY</key>
	<string>AIzaSyAv3nPYK3XMI2oGXbb4uzEZWgMpsGdZ5ZM</string>
	<key>GCM_SENDER_ID</key>
	<string>318842516311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sicc.lottori</string>
	<key>PROJECT_ID</key>
	<string>lottori</string>
	<key>STORAGE_BUCKET</key>
	<string>lottori.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318842516311:ios:82a0f9da89860d42</string>
	<key>DATABASE_URL</key>
	<string>https://lottori.firebaseio.com</string>
</dict>
</plist>